.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.filtersButton {}

.filtersView {
  display: flex;
  height: inherit;
  flex-direction: row;
  background-color: #e2e2e2;
}

.profilePanel {
  display: flex;
  height: inherit;
  flex-direction: column;
  background-color: #e2e2e2;
}

@media(max-width: 320px) {
  .filtersButton {
    max-width: 109px !important;
    overflow: hidden !important;
    min-width: 0 !important;
  }

  .filtersButton span {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    font-size: 12px !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }
}
