.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
}

.content {
  overflow-y: auto;
  display: flex;
  flex: 1;
}

.bottomNavigation {
  z-index: 5000; /* for snackbar overlay */
  flex: 0;
}

.sideNavigation {
  flex: 0;
  display: none;
}

@media(min-width: 990px) {
  .bottomNavigation {
    display: none;
  }
  .sideNavigation {
    display: flex;
  }
  .content {
    padding-left: 256px;
  }
}
